[user]
	name = Plamen Stoev
	email = psstoev@gmail.com

[push]
	default = current

[color]
	ui = auto

[alias]
	ca = commit -a
	ci = commit
	co = checkout
	di = diff
	dc = diff --cached
	pr = pull --rebase
	st = status
	oneline = log --pretty=oneline

[merge]
	tool = vimdiff
