[submodule ".zsh/zshuery"]
	path = zsh/zshuery
	url = git://github.com/myfreeweb/zshuery.git
[submodule "awesome/pomodoro"]
	path = awesome/pomodoro
	url = git://github.com/nikolavp/pomodoro-awesome.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "urxvt"]
	path = urxvt
	url = git://github.com/muennich/urxvt-perls.git
[submodule "awesome/themes/solarized"]
	path = awesome/themes/solarized
	url = git://github.com/cycojesus/awesome-solarized.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
