[submodule ".zsh/zshuery"]
	path = zsh/zshuery
	url = git://github.com/myfreeweb/zshuery.git
[submodule "awesome/pomodoro"]
	path = awesome/pomodoro
	url = git://github.com/nikolavp/pomodoro-awesome.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "urxvt"]
	path = urxvt
	url = git://github.com/muennich/urxvt-perls.git
[submodule "awesome/themes/solarized"]
	path = awesome/themes/solarized
	url = git://github.com/cycojesus/awesome-solarized.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/foreplay"]
	path = vim/bundle/foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
