[submodule ".zsh/zshuery"]
	path = .zsh/zshuery
	url = git://github.com/myfreeweb/zshuery.git
[submodule "awesome/pomodoro"]
	path = awesome/pomodoro
	url = git://github.com/nikolavp/pomodoro-awesome.git
